html {
    min-height: 100vh;
}

.flexbox-container {
    display: flex;
    background-color: aquamarine;
}

.flexbox-item {
    width: 500px;
    margin: 5px;
}

.flexbox-item-1 {
    min-height: 10px;
}

.flexbox-item-2 {
    min-height: 20px;
}

table {
    text-align: center;
    width: 50%;
    margin: 5px;
    padding: 5px;
    table-layout: fixed;
    bottom: 10px;
}